.body-main-container {
    background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=pexels-fwstudio-129731.jpg&fm=jpg");
    height: 85.4vh;


    .search-container {

        input {
            width: 800px;
            height: 20px;
            margin-top: 10px;
        }

        button {
            height: 20px;
        }
    }

    .render-container {
        margin: 0 200px;
        margin-top: 30px;
        border: 5px solid black;
        height: 80%;
        overflow: scroll;


        .book-card {
            display: flex;
            float: left;
            height: 200px;
            width: 150px;
            padding: 30px;

            .book {
                height: 100%;
                width: 100%;


                .book-info {
                    display: none;
                    font-family: sans-serif;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(35, 32, 32, 0.488);
                    color: white;
                    font-weight: bold;

                }

                &:hover {
                    transform: scale(1.1);

                    .book-info {
                        display: block;
                    }
                }
            }
        }
    }

}

.render-container::-webkit-scrollbar {
    width: 0px;
}